/* HEADER */
.debut
{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-top: 35px;
    margin-bottom: 45px;
}

.logo_booki
{
    padding-top: 10px;
}

.entete
{
    max-width: 1330px;
    margin: 0 auto;
}

.menu 
{
    margin:0;
    list-style-type: none;
}

.texte
{
    margin-bottom: 0px;
}

.container {
	width: 1400px;
	margin: auto;
}

.titre
{
    font-size: 22px;  
    margin-bottom: 15px;
}

.sous-titre
{
    font-size: 16px;
    font-weight: 400;
}

/* BARRE DE RECHERCHE */

.recherche
{
    display: flex;
}

.forme
{
    display: block;
}

.bouton-forme
{
    display: flex;
}

.bouton-texte
{
    font-size: 20px;
    cursor: auto;
    font-weight: bolder;
}

.bouton-recherche
{
    font-size: 20px;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    transition: 0.1s ease-in-out;
}

.bouton-recherche:hover
{
    background-color: #0050c7;
}

input.bouton-texte
{
    height: auto;
    width: 215px;
    outline: none;
}

.recherche input
{
    height: 50px;
    border: 1px solid #f2f2f2;
    padding: 0 10px 0 10px;
}

.btn-rch:hover
{
    background-color: #0050c7;
}

.icone
{
    padding: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.fa
{
    font-family: "Font Awesome 5 Free";
}

.fa-map-marker-alt
{
    padding-top: 5px;
    padding-left: 10px;
    color: black;
}

.icone-recherche
{
    opacity: 0;
}



/* CORPS */
.directionRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section {
	padding-bottom: 80px;
	padding-top: 80px;
}

.textCenter {
	text-align: left;
	margin: 20px;
}

.article {
	width: 25%;
	margin: 0px 20px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}

.images_activites {
	width: 300px;
	margin: 10px;
}

